.about-us-container {
  font-family: "Bubblegum Sans", sans-serif;
}

.primary-txt {
  color: #f9a826;
}

.secondary-txt {
  color: #02b890;
}

.tertiary-txt {
  color: #eb5d5d;
}

.About-us {
  max-width: 1200px;
}

.xxl-txt {
  margin-bottom: 20px; /* Add some space below the headings */
}

.md-txt {
  font-size: 1.2em; /* Increase the font size */
  line-height: 1.5; /* Increase the line height */
  text-align: justify; /* Align the text */
}

.gray-txt {
  color: #6c757d;
}

.blue-txt {
  color: #341c77;
}

.programs-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.txt {
  display: inline-block;
}

.About-us {
  max-width: 1300px;
  margin: 0 auto;
  padding: 0 20px;
  /* transform: translateY(-100px); */
}
.team-img{
  width: 50%;
  height: 100%;
  object-fit: cover;
}

.awards-img{
  width: 60%;
  height: 100%;
  object-fit: cover;
}